---
layout: default
title: Archive
permalink: /archive/
---

<article class="archive-page">
  <h1>Archive</h1>
  
  <div class="archive">
    {% assign posts_by_year = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in posts_by_year %}
      <h2 id="y{{ year.name }}" class="archive-year">{{ year.name }}</h2>
      <ul class="post-list">
        {% for post in year.items %}
          <li>
            <span class="post-date">{{ post.date | date: "%b %-d" }}</span>
            <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</article>