---
layout: default
title: Home
---

<div class="home">
  {% for post in paginator.posts %}
    <article class="post-preview">
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p class="post-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
      </p>
      <div class="post-excerpt">
        {{ post.excerpt }}
      </div>
    </article>
  {% endfor %}

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Previous</a>
      {% endif %}
      
      <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
      
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
      {% endif %}
    </div>
  {% endif %}
</div>